*{
    margin:0;
}

#container{
    display:flex;
    width:80vw;
    height:100vh;
    gap:20px;
    margin:50px;
    background-color:pink;
}

.book{
    background-color:grey;
    height:30rem;
    width:100rem;
    border-radius:30px;
}

#harry{
    background-color:blue;
}